node_modules

.env
.env.prod
.env.*.local
/generated/prisma
config/*
/models

.env.development.local

terraform.tfstate.backup
terraform.tfstate

.terraform/
/.terraform
terraform-provider-aws_v5.100
**/.terraform/*
!.terraform/modules/

*.tfstate
*.tfstate.*

*.logs

/.dist
dist

.env.prod
